<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="container2">
        <div class="title-bar">
          <div class="icon-container">
            <a href="/"><h1>Members Only</h1></a>
          </div>       
        </div>
      <div class="content2">